# Cache directories
**/cache/
**/spam/
**/logs/
**/inbox/
**/__pycache__/

# Python cache files
*.pyc
*.pyo
*.pyd
.Python
*.so

# Token files
**/token.json

# IDE files
.vscode/
.idea/
.cursor/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.venv
env/
venv/
ENV/

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Cursor config files
.cursorrules
.cursorignore
*.csv
*.zip
*.pdf
/260101 Project 7/HMDB51
/260101 Project 7/checkpoints
/260101 Project 7/kaggle_data
/260101 Project 7/note
/260101 Project 7/test
