# Core ML libraries
torch==2.6.0
numpy==2.2.6
pandas==2.2.3
scikit-learn==1.7.1
transformers==4.53.3
nltk==3.9.1
faiss-cpu

# Visualization
matplotlib==3.10.3
seaborn==0.13.2
plotly==5.17.0

# Web framework
streamlit==1.46.0

# Google APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth

# HTML parsing
beautifulsoup4

# Other utilities
tqdm==4.67.1
requests